<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaia Red | Home Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
</head>
<body>
    <header>
        <ul class="left-section">
            <li class="nombre"><img src="https://icons.iconarchive.com/icons/pixelkit/flat-jewels/48/Tree-icon.png" alt="logo.png"></li>
            <li class="logo-gaia">Gaia Red</li>
        </ul>
        <ul class="right-section">
            <li class="about"><a href="/about">About</a></li>
            <li class="dashboard"><a href="/dashboard">Dashboard</a></li>
        </ul>
    </header>
    <main>
        <section class="description">
            <h1>Proyecto Gaia Red</h1>
            <p>Buscamos vincular IoT en cultivos sin acceso a internet</p>
        </section>
        <section class="logo">
            <img src="https://icons.iconarchive.com/icons/pixelkit/flat-jewels/512/Tree-icon.png" alt="logo-gaia.png">

        </section>

    </main>

</body>
</html>